body {
    background-color: rgb(0, 0, 0);
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/little-cute-maltipoo-puppy-royalty-free-image-1652926025.jpg?crop=0.444xw:1.00xh;0.129xw,0&resize=980:*);
    background-repeat: no-repeat;    
    background-size: cover;
}

h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(71, 119, 213);
    width: 10%;
    height: 90%;
    padding-left: .5%;
    padding-right: .5%;
    padding-top: 2.5%;
    padding-bottom: 100%;
    margin: 0%;
    border: .075em solid rgb(152, 152, 152);
    text-align: center;
}